@{
    ViewBag.Title = "About";
}
<h2>About the Students Technology Fee Committee Web Application</h2><hr />

<p>This application was developed for use by the Harmons College of Business and Professional Studies at the University of Central Missouri</p>

<p>The web application automates all the phases (and its corresponding tasks) required in the process and incorporates the roles of users in the application</p>



